<!DOCTYPE html>
<html>
		<head>
		  <title>Nhie</title>
		  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		  <%= csrf_meta_tags %>
		  <!-- ++++++++++++++ -->
		  <!-- ++++++++++++++ -->
		</head>
	<body class="<%= controller_name %> <%= action_name %>">
		<!-- checking for error messages -->
		<% flash.each do |name, msg| %>
		  <% if msg.is_a?(String) %>
		    <%= content_tag :div, msg, :class => "flash_#{name}" %>
		  <% end %>
		<% end %>
	<!-- ++++++//WED NAV BAR\\++++++ -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Brand</a> -->


    <!-- Collect the nav links, forms, and other content for toggling -->
      <!-- <ul class="nav navbar-nav navbar-right"> -->
        <!-- <a href="#">Link</a> -->
      <!-- </ul> -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   		<%= render :partial => 'events_search' %>
      <!-- <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<!-- ++++++//WED NAV BAR\\++++++ -->
	<nav class="main-nav" id="main-nav">
	  <!-- <a href="#">Events</a> -->
	  <!-- <a href="#">Profile</a> -->
	  <!-- <a href="#">Friends</a> -->
				<% if logged_in? %>
					<div class="sidebar-photo">
						<%= image_tag(current_user.image, size: "200x200") %>
					</div>
					<h1 class="sidebar-name">Howdy, <%=current_user.username %>!</h1>
					<hr class="sidebar-hr">
					<div class="sidebar-links">
						<%#= link_to("Profile", user_url(current_user)) %>
						<%#= link_to("Events", events_url)%>
						<%#= link_to("Friends", users_url)%>
						<%#= link_to("Log out", logout_path) unless current_page?(login_path) %>

						<%= link_to user_url(current_user) do %>
  						<span class="glyphicon glyphicon-user"> PROFILE</span> 
						<% end %> 
						<%= link_to events_path("Events") do %>
  						<span class="glyphicon glyphicon-list-alt"> EVENTS</span>
						<% end %>
						<%= link_to users_url("Friends") do %>
  						<span class="glyphicon glyphicon-pencil"> FRIENDS</span> 
						<% end %> 
						<%= link_to logout_path("Log out") do %>
  						<span class="glyphicon glyphicon-off"> LOGOUT</span> 
						<% end %>

						<p class="member-since">Member Since <%= current_user.created_at.strftime("%d %b. %Y") %></p>
					</div>
				<% end %>
	</nav>
		<div class="page-wrap">
		  <% if logged_in? %>
			  <header class="main-header">
			    <!-- <a href="#main-nav" class="open-menu toggle-menu">
			      &#8801;
			    </a> -->
			    <a href="#main-nav" class="open-menu toggle-menu">
			    	<span class="glyphicon glyphicon-tasks"></span>
			    </a>
 					<a href="#" class="close-menu toggle-menu">
 						<span class="glyphicon glyphicon-tasks"></span>
 					</a>
			    <!-- <a href="#" class="close-menu toggle-menu">
			      &#8801;
			    </a> -->
			    <%#= render :partial => 'events_search' %>
			  </header>
			<% end %>
		  <div class="content">
		      <div class="col-sm-6 col-sm-offset-3">
		         <%= yield %>
		      </div>
		  </div> 
		</div>
	</body>
</html>

