<!DOCTYPE html>
<html>
		<head>
		  <title>Nhie</title>
		  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		  <%= csrf_meta_tags %>
		  <!-- ++++++++++++++ -->
		  <!-- ++++++++++++++ -->
		</head>
	<body class="<%= controller_name %> <%= action_name %>">
		<!-- checking for error messages -->
		<% flash.each do |name, msg| %>
		  <% if msg.is_a?(String) %>
		    <%= content_tag :div, msg, :class => "flash_#{name}" %>
		  <% end %>
		<% end %>
	<nav class="main-nav" id="main-nav">
	  <!-- <a href="#">Events</a> -->
	  <!-- <a href="#">Profile</a> -->
	  <!-- <a href="#">Friends</a> -->
				<% if logged_in? %>
					<div class="sidebar-photo">
						<%= image_tag(@current_user.image, size: "200x200") %>
					</div>
					<h1 class="sidebar-name">Howdy, <%=@current_user.first_name %>!</h1>
					<hr>
					<div class="sidebar-links">
						<%= link_to("Log out", logout_path) unless current_page?(login_path) %>
						<%= link_to("Profile", user_url(current_user)) %>
						<%= link_to("Friends", users_url)%>
						<%= link_to("Events", events_url)%>
					</div>
				<% end %>
	</nav>
		<div class="page-wrap">
		  <% if logged_in? %>
			  <header class="main-header">
			    <a href="#main-nav" class="open-menu toggle-menu">
			      &#8801;
			    </a>
			    <a href="#" class="close-menu toggle-menu">
			      &#8801;
			    </a>
			    <h1 class="nav-bar-title">SIDE NAV WEBSITE</h1>
			    <%= render :partial => 'events_search' %>
			  </header>
			<% end %>
		  <div class="content">
		      <div class="col-sm-3">
		        <div class="blank-wrap">
		        </div>
		      </div>
		      <div class="col-sm-6">
		        <div class="wrap">
		          <%= yield %>
		        </div>
		      </div>
		      <div class="col-sm-3">
		        <aside class="blank-wrap">
		        </aside>
		      </div>
		  </div> 
		</div>
	</body>
</html>

