<h1>All Users</h1>

Signed in as <%= current_user.first_name %>

<h2>My friends</h2>
	<% @f.each do |user| %>
		<%= render user %> 
		<p>You guys are such good friends</p>
		<%= button_to "Remove Friend", user_remove_path(user), method: :post %>
	<% end %> 
 
<h2>Incoming Friends Requests</h2>
	<% @ifr.each do |user| %>
		<%= render user %> 
		<%= button_to "Accept", user_approve_path(user), method: :post %>
		<%= button_to "Reject", user_reject_path(user), method: :post %>
	<% end %> 


<h2>Outgoing Friend Requests</h2>
	<% @ofr.each do |user| %>
		<%= render user %> 
		<p>Waiting Response</p>
	<% end %> 

<h2>Not Friends..yet</h2>
	<% @nf.each do |user| %>
		<%= render user %> 
		<%= button_to "Add to My Friends", user_request_friendship_path(user), method: :post %>
	<% end %> 
