
<div class="profile-background">
  <div class="profile-background1">
      <%= image_tag @user.image_url %>
  </div>
  <div class="profile-background2">
      <%= image_tag @user.image_url %>
  </div>
</div>

<div class="profile-photo">
  <%= image_tag @user.image_url %>
</div>

<h1><%= @user.first_name %></h1>
<h3>Created events:</h3>
  <% @user.created_events.each do |event| %>
  	<%= event.event_name %>
  	<br/>
  <% end %>

<h3>Joined events:</h3>
  <% @user.participated_events.each do |event| %>
    <%= event.event_name %>
    <br/>
  <% end %>


<!-- Only shows 'Add Friend' button if: you aren't already friends or you havent already requested to be friends.  -->
	<%# if @user == !(current_user || current_user.request_friendship!(@user) || current_user.friends?(@user)) %>
    
    <%# form_for(:friendship, :url => user_friends_path(:user_id => current_user.id, :friend_id => @user.id)) do |f| %>
      <%#= submit_tag "Add to My Friends" %>
    <%# end %>
  <%# end %>
<%# end %>

<!-- This has to change to show only friends (friendship = true) and not all users.  -->
<div class="my-friends">
	<%= render :partial => 'my_friends' %>
</div>