<div id="fullscreen_bg_cups" class="fullscreen_bg_cups"/>

  <div id="signup-logos"></div>

  <div class="form-signup">
    <h3 class="Signin-page-heading">CREATE AN ACCOUNT.</h3>
    <hr class="Signin-page-line">
  <% if !@user.errors.messages.blank? %> 
    <% @user.errors.full_messages.each do |message| %>
      <div class="alert">
        <%= message %><br/>
      </div>
    <% end %>
  <% end %><br/>

  <%= form_for @user do |f| %>
    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
    </div>
    
    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
    </div>
    
    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, class: 'form-control', placeholder: 'Username' %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
    </div>
    
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
    </div>
    
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm Password' %>
    </div>

    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div><br />

    <div class="field">
      <%= f.submit "Submit", class: 'btn btn-lg btn-primary btn-block' %>
    </div><br>
  <% end %>
  <%= link_to "Login", login_path %>
  </div>
</div>