
<div class="profile-background">
  <div class="profile-background1">
      <%= image_tag @user.image_url %>
  </div>
  <div class="profile-background2">
      <%= image_tag @user.image_url %>
  </div>
</div>

<div class="profile-photo">
  <%= image_tag @user.image_url %>
  <% if @user == current_user %> 
    <div class="all-items">
      <div class="friend-count">
        <div>
          <%= current_user.friends.count %>
        </div>
        <br>
          <% if (current_user.friends.count > 300) %>
            <em>"Mr./ Mrs Popular"</em>
          <% elsif (current_user.friends.count > 100) %>
            <em>"Local Hero."</em>
          <% elsif (current_user.friends.count > 50) %>
            <em>"Challenge: Get more than 50 friends."</em>
          <% elsif (current_user.friends.count > 10) %>
            <em>"Tight friends cirles for life."</em>
          <% elsif (current_user.friends.count == 1) %>
            <em>"Woo! Someone has a friend!"</em>
          <% else %>
            <em>"Someone needs a friend."</em>
          <% end %>
      </div>
    </div>  
  <% end %>
</div>

<%# unless @user = current_user %>
  <% if current_user.friends?(@user)  %>
    <p class="status-right-justified">You are friends</p>
  <% elsif current_user.already_requested?(@user) %>
    <p class="status-right-justified">Request Sent</p>
  <% else %>
  <!-- ++++++++ ADD BUTTON ++++++++ -->
    <%= link_to user_request_friendship_path(@user), method: :post, class: "user-action" do %>
      <i class="glyphicon glyphicon-plus-sign"></i>
    <% end %>
  <!-- ++++++++ ADD BUTTON ++++++++ -->
  <% end %>
<%# end %>


<h1 class="main-heading"><%= @user.username %></h1>
<hr>

<div class="all-items">
  <div class="item-section">
    <div class="item-label">Created events</div>
    <div class="item-info friends">
      <% if @user.created_events.empty? %>
        You have not created an event yet
      <% else %>
        <% @user.created_events.each do |event| %>
          <div>
            <%= link_to event.event_name, event_path(event) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="item-section">
    <div class="item-label">Joined events</div>
    <div class="item-info friends">
      <% if @user.participated_events.empty? %>
        You have not joined an event yet
      <% else %>
        <% @user.participated_events.each do |event| %>
          <div>
            <%= link_to event.event_name, event_path(event) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<!-- Only shows 'Add Friend' button if: you aren't already friends or you havent already requested to be friends.  -->
  <%# if @user == !(current_user || current_user.request_friendship!(@user) || current_user.friends?(@user)) %>
    
    <%# form_for(:friendship, :url => user_friends_path(:user_id => current_user.id, :friend_id => @user.id)) do |f| %>
      <%#= submit_tag "Add to My Friends" %>
    <%# end %>
  <%# end %>
<%# end %>

  <% if @user == current_user %>
    <div class="item-section">
      <div class="item-label">Friends</div>
      <div class="item-info friends">
        <% if @user.friends.empty? %>
          You do not have any friends yet
        <% else %>
          <% @user.friends.each do |friend| %>
              <div>
              <%= link_to friend.username, user_path(friend) %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>  
<% end %>