
<div class="profile-background ">

  <div class="profile-photo">
    <%= image_tag @user.image_url %>
    <% if @user == current_user %>  
    <% end %>
  </div>

  <h1 class="main-heading centered"><%= @user.username %>
    <%# unless @user = current_user %>
      <% if current_user.friends?(@user)  %>
        <!-- <p class="status-right-justified">You are friends</p> -->
        <i class="glyphicon glyphicon-ok-sign left-action green-icon"></i>

      <% elsif current_user.already_requested?(@user) %>
        <p class="status-right-justified">Request Sent</p>
      <% else %>
      <!-- ++++++++ ADD BUTTON ++++++++ -->
        <%= link_to user_request_friendship_path(@user), method: :post, class: "user-action left-action" do %>
          <i class="glyphicon glyphicon-plus-sign"></i>
        <% end %>
      <!-- ++++++++ ADD BUTTON ++++++++ -->
      <% end %>
    <%# end %>
  </h1>
  <!-- </div> -->
</div>

<!-- <div class="command-center">
  
</div> -->


<!-- <hr> -->

<div class="command-center">
  <div class="inner-command-left">
    <div class="top-inner">
      <h2 class="inner-command-label">FRIENDS</h2>
    </div>
    <div class="bottom-inner">
      <h1 class="command-number"><%= @user.friends.count %></h1>
    </div>
  </div>

  <div class="inner-command-center">
    <div class="top-inner">
      <h2 class="inner-command-label">EVENTS</h2>
    </div>
    <div class="bottom-inner">
      <h1 class="command-number"><%= @user.created_events.count %></h1>
    </div>
  </div>
  <div class="inner-command-right">
    <div class="top-inner">
      <h2 class="inner-command-label">SCORE</h2>
    </div>
    <div class="bottom-inner">
      <h1 class="command-number">
        <%=((@user.created_events.count)*200)+((@user.participated_events.count)*125)+((@user.friends.count)*75)%>
      </h1>
    </div>
  </div>
</div>

<div class="all-items">
  <div class="item-section">
    <div class="item-label">Created events</div>
    <div class="item-info friends">
      <% if @user.created_events.empty? %>
        You have not created an event yet
      <% else %>
        <% @user.created_events.each do |event| %>
          <div>
            <%= link_to event.event_name, event_path(event) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="item-section">
    <div class="item-label">Joined events</div>
    <div class="item-info friends">
      <% if @user.participated_events.empty? %>
        You have not joined an event yet
      <% else %>
        <% @user.participated_events.each do |event| %>
          <div>
            <%= link_to event.event_name, event_path(event) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<!-- Only shows 'Add Friend' button if: you aren't already friends or you havent already requested to be friends.  -->
  <%# if @user == !(current_user || current_user.request_friendship!(@user) || current_user.friends?(@user)) %>
    
    <%# form_for(:friendship, :url => user_friends_path(:user_id => current_user.id, :friend_id => @user.id)) do |f| %>
      <%#= submit_tag "Add to My Friends" %>
    <%# end %>
  <%# end %>
<%# end %>

  <% if @user == current_user %>
    <div class="item-section">
      <div class="item-label">Friends</div>
      <div class="item-info friends">
        <% if @user.friends.empty? %>
          You do not have any friends yet
        <% else %>
          <% @user.friends.each do |friend| %>
              <div>
              <%= link_to friend.username, user_path(friend) %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>  
<% end %>