<h1 class="main-heading">Create.</h1>
<hr><br>
<%= form_for (@event) do |f| %>
	<div class="field">
		<%= f.label :event_name, class: 'white-background' %><br />
		<%= f.text_field :event_name, class: 'form-control', placeholder: "What've you never done?" %>
	</div><br />

	<div class="field">
		<%= f.label :description, class: 'white-background' %><br />
		<%= f.text_area :description, class: 'form-control', placeholder: "Ex. Why haven't you done this yet?" %>
	</div><br />

	<div class="field">
		<%= f.label :event_datetime, class: 'white-background' %><br />
		<%= f.datetime_select :event_datetime,  class: 'datetime-buttons', placeholder: 'Date & Time' %>
	</div><br />

	<div class="field">
		<%= f.label :location, class: 'white-background' %><br />
		<%= f.text_field :location, class: 'form-control', placeholder: "Where's this happnin'?" %>
	</div><br />

	<div class="field">
		<%= f.label :url, class: 'white-background' %><br />
		<%= f.text_field :url,  class: 'form-control ', placeholder: 'Optional' %>
	</div><br><br><br>
	
	<div id="sumbit">
		<%= f.submit "Submit", class: 'btn btn-lg btn-primary btn-block on-white' %>
	</div>
<% end %> 