<h1 class="main-heading">Events</h1>

<%#= render :partial => 'events_search' %>

<p><%= link_to "Create a new Event!", new_event_path %></p>

<!-- Below must be tested -->
<h3 class="sub-heading">My events</h3>
	<% @created_events.each do |event| %>
		<!-- FLIPPING CONTAINER -->
		<div class="vertical-flip-container flip-container floatR" ontouchstart="this.classList.toggle('hover');">
		  <div class="flipper">
		    <div class="front">
		      <!-- The front face -->
					<h3><%= link_to event.event_name, event_path(event), class: "event-list-titles-dark" %></h3>
		    </div>
		    <div class="back">
		       <!-- The back face -->
		      <h3><%= link_to event.event_name, event_path(event), class: "event-list-titles-light" %></h3>
		      <hr class="event-index-card-lines">
					<p class="event-description"><%= event.description %></p><br />
		    </div>
		  	<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div><br>
		<!-- FLIPPING CONTAINER -->
<% end %>


<h3 class="sub-heading">Friend events</h3>
	<% @friends_events.each do |event| %>
			<!-- FLIPPING CONTAINER -->
		<div class="vertical-flip-container flip-container floatR" ontouchstart="this.classList.toggle('hover');">
		  <div class="flipper">
		    <div class="front">
		      <!-- The front face -->
					<h3><%= link_to event.event_name, event_path(event), class: "event-list-titles-dark" %></h3>
		    </div>
		    <div class="back">
		       <!-- The back face -->
		      <h3><%= link_to event.event_name, event_path(event), class: "event-list-titles-light" %></h3>
		      <hr class="event-index-card-lines">
					<p class="event-description"><%= event.description %></p><br />
		    </div>
		  	<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div><br>
		<!-- FLIPPING CONTAINER -->
	<% end %>