<h1>Events#new</h1>


<%= form_for (@event) do |f| %>
	<div class="field">
		<%= f.label :event_name %><br />
		<%= f.text_field :event_name %>
	</div>

	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_area :description %>
	</div>

	<div class="field">
		<%= f.label :event_datetime %><br />
		<%= f.datetime_select :event_datetime %>
	</div>

	<div class="field">
		<%= f.label :location %><br />
		<%= f.text_field:location %>
	</div>

	<div class="field">
		<%= f.label :url %><br />
		<%= f.text_field :url %>
	</div>
	
	<div id="sumbit">
		<%= f.submit %>
	</div>
	
<% end %> 