<!-- Page is in a large if statement that will only show the event page if you are friends with that user. If you aren't friends with that user then it says 404 not found. -->
<%= render :partial => 'events_search' %>

<% if @friends_events = current_user.friends.map(&:created_events).flatten.include?(@event) || current_user.created_events.flatten.include?(@event) %>
  
<!--   <div class="event-card">
    <div class="event-header">
      <h1 class="title"><%= @event.event_name %></h1>
      by: <%= @event.creator.first_name %>
    </div>
    <div class="event-info">
      <p>Description: <%= @event.description %></p><hr>
      <p>Event Date: <%= @event.event_datetime.strftime("%d %b. %Y %H:%M") %></p><hr>
      <p>Location: <%= @event.location %></p><hr>
      <%= link_to "website", "http://#{@event.url}" %>
    </div>
  </div> -->

  <div class="panel panel-default">
    <div class="panel-heading event-header">
      <h3 class="panel-title"><%= @event.event_name %></h3>
      <span class="byline">by: <%= @event.creator.first_name %></span>
    </div>
    <div class="panel-body event-info">
      <p>Description: <%= @event.description %></p><hr>
      <p>Event Date: <%= @event.event_datetime.strftime("%d %b. %Y %H:%M") %></p><hr>
      <p>Location: <%= @event.location %></p><hr>
      <%= link_to "website", "http://#{@event.url}" %>
    </div>
</div>
  
  <!-- If the user created the event, show the delete button, or else if the user isnt participating in the event show the join button, or if they are show the you are attending note -->

  <% if @event.creator == current_user %> 
    <%= button_to "Delete Event", event_path(@event), {method: :delete, class: 'btn btn-default'} %>
  <% elsif %>
    <% if !current_user.participated_events.include?(@event) %>
    	<%= button_to "Join Event", event_join_path(@event), method: :post  %>
    <% elsif %>
    	<h3> You are attending this event!</h3>
    <% end %>
  <% end %>


  <!-- ++++++++++Conversation Portion++++++++++ -->
  <% if current_user %>
  	<h2 class="title">Conversation</h2>
  		<div id="event-list">
  			<%= render @event.messages %>
  		</div>
  	<% end %>
  <br>
  <!-- ++++++++++++++++++++++++++++++++++++++++ -->
  <%= form_for([@event, @message], remote: true) do |f| %>
    <div id="message-errors">
      <% if @message.errors.any? %>
        <%= render partial: 'message/message_form_errors' %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :Add_a_message, class: "message_label" %><br />
      <%= f.text_area :body %>
    </div>
    
    <div class="actions">
      <%= f.submit class: 'btn btn-default'%>
    </div>
  <% end %>
 
 <% else %>
  <h1>404, page not found</h1>
<% end %> 

