	<div>
    <h1><%= @event.event_name %></h1>
		<p>Description: <%= @event.description %></p>
		<p>Event Date: <%= @event.event_datetime %></p>
		<p>Location: <%= @event.location %></p>
		<p>Website: <%= @event.url %></p>
	</div>
