<%#= form_tag all_search_path do %>
  <%#= text_field_tag "query" %>
  <%#= submit_tag "Search" %>
<%# end %>


<h3 class="minor-heading">MATCHED RESULTS: <%= @friend_event_matches.count + @created_event_matches.count + @friend_matches.count + @user_matches.count%></h3>

<h1 class="main-heading">Friends Events</h1>
<div class="results-div"><%= render @friend_event_matches %></div>
<hr>

<h1 class="main-heading">My Events</h1>
<div class="results-div"><%= render @created_event_matches %></div>
<hr>

<h1 class="main-heading">Friends</h1>
<div class="results-div"><%= render @friend_matches %></div>
<hr>

<h1 class="main-heading">ALL SEARCH</h1>
<div class="results-div"><%= render @user_matches %></div>
